<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{kakoak_layout.html}"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <!-- header from the content page-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.js"></script>
</head>

<body id="page-top">
<div class="router_inner" layout:fragment="page_content">
    <div class="container-fluid">
        <div class="card card-default">
            <div class="card-body">
                <form th:action="@{/user/game/icon-prize/save}" method="post" th:object="${model}" enctype="multipart/form-data">
                    <input type="hidden" id="statusForm" name="statusForm" th:value="${statusForm}">
                    <input type="hidden" id="id" name="id" th:value="${model.id}?${model.id}">

                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="col-12 col-md-12 mb-3">
                                <label for="name" style="font-weight: bold"><span>[[#{iconName}]]</span><span style="color:red"> *</span></label>
                                <input type="text" id="name" th:field="*{name}" name="name" value="${name}"
                                       class="form-control" th:placeholder="#{name}" aria-label="name" required>
                                <p style="color:red;font-size:12px;" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                            </div>

                            <div class="col-12 col-md-12 mb-3">
                                <label for="code" style="font-weight: bold"><span>[[#{iconCode}]]</span><span style="color:red"> *</span></label>
                                <input type="text" id="code" th:field="*{code}" name="code" value="${code}"
                                       class="form-control" th:placeholder="#{code}" aria-label="code" required>
                                <p style="color:red;font-size:12px;" th:if="${#fields.hasErrors('code')}" th:errors="*{code}"></p>
                            </div>

                            <div class="col-12 col-md-12 mb-3">
                                <label style="font-weight: bold"><span>[[#{iconType}]]</span><span style="color:red"> *</span></label>
                                <select class="form-control" id="type" th:field="*{type}" name="type" required>
                                    <option value="Data" th:text="#{data}"></option>
                                    <option value="Money" th:text="#{money}"></option>
                                    <option value="Icon" th:text="#{icon}"></option>
                                </select>
                                <p style="color:red;font-size:12px;" th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></p>
                            </div>
                        </div>

                        <div class="col-12 col-md-6">
                            <div class="col-12 col-md-6">
                                <div id="dnd" class="form-group h-100 w-100 d-inline-block">
                                    <label for="file_image"><span>[[#{iconImage}]] <span style="color: red;">*</span></span></label>
                                    <div id="image_upload" class="form-control d-flex justify-content-center" style="min-height: 227px; min-width: 227px; padding: 5px;">
                                        <img id="previewImage" th:src="@{/img/bg_login4.jpg}" class="img-fluid"/>
                                    </div>
                                </div>
                                <input type="file" id="file_image" accept="image/*" hidden="hidden" style="cursor: pointer;">
                                <input type="text" id="fileInput1" name="thumbUpload" hidden>
                            </div>
                        </div>
                    </div>


                    <div class="col d-flex align-items-end justify-content-center pt-3"
                         style="padding-left: 0 !important;">
                        <a id="backSchedule" type="button" class="btn btn-success me-md-2 m-2" th:href="@{/user/game/icon-prize/index}" th:text="#{back}" style="height: 30px; width: 125px; left: 886px; top: 389px; border-radius: 3px;"></a>
                        <button id="saveButton" type="submit" class="btn btn-success me-md-2 m-2" th:text="#{save}" style="height: 30px; width: 125px; left: 886px; top: 389px; border-radius: 3px;"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--Popup Start-->

    <div class="modal fade" id="modal-crop-image">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="w-100"><h4 class="modal-title text-center">CROP IMAGE</h4></div>
                </div>
                <div class="modal-body">
                    <div class="d-flex flex-row justify-content-between">
                        <div class="d-flex flex-column justify-content-between align-items-center h-100" style="width: 100%;">
                            <img id="image" th:src="@{/img/vn.jpeg}" style="max-width: 100%;">
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-default" data-dismiss="modal"  id="closePopupButton">Close</button>
                    <button type="button" class="btn btn-default" id="apply_crop_image">OK</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>

<!-- REQUIRED SCRIPTS -->
<script layout:fragment="content_page_script" >
    //CUSTOM SCRIPT
    $(document).ready(function() {
        //======== BEGIN CROPPER SETUP 1 ========
        $("#image_upload").click( function() {
            $("#file_image").click();
        });

        let image = document.getElementById("image");
        let cropper = "";
        let fileName = "";
        $("#file_image").change(function(e) {
            let reader = new FileReader();
            console.log(e.target.files.length);
            if(e.target.files.length == 0)
                return;
            reader.readAsDataURL(e.target.files[0]);

            reader.onload = () => {
                image.setAttribute("src", reader.result);
                if (cropper) {
                    cropper.destroy();
                }
                cropper = new Cropper(image, {
                    aspectRatio: 1 / 1,
                    viewMode: 1,
                    minContainerWidth: 1080,
                    minContainerHeight: 1080,
                });

                $('#modal-crop-image').modal('show');
            };
            fileName = e.target.files[0].name.split(".")[0];

        });


        $("#apply_crop_image").click(function(e) {
            let imgSrc;
            e.preventDefault();
            const croppedCanvas = cropper.getCroppedCanvas({
                width: 1080,
                height: 1080,
            });
            if (croppedCanvas) {
                imgSrc = croppedCanvas.toDataURL("image/jpeg", 0.75);
            }
            console.log(imgSrc);

            $("#previewImage").attr("src", imgSrc);
            $("#fileInput1").val(imgSrc);
            $('#modal-crop-image').modal('hide');
        });
        //======== END CROPPER SETUP 1 ========
    });
</script>
</body>
</html>