<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{kakoak_layout.html}">

<head>
    <!-- header from the content page-->
    <link th:href="@{/webjars/AdminLTE/3.2.0/plugins/daterangepicker/daterangepicker.css}" rel="stylesheet">
    <script th:src="@{/webjars/AdminLTE/3.2.0/plugins/daterangepicker/daterangepicker.js}"></script>
</head>

<body id="page-top">
<div class="router_inner" layout:fragment="page_content">
    <div class="container-fluid">
        <div class="card card-default">
            <div class="card-body">
                <form th:action="@{/sms/index}" method="get">
                    <div class="row mb-3">
                        <div class="col-12 col-md-3 mb-3">
                            <label for="titleSMS" style="font-weight: bold" th:text="#{title}"></label>
                            <input type="text" id="titleSMS" th:value="${titleSMS}?${titleSMS}" name="titleSMS"
                                   class="form-control" aria-label="Rule Name">
                        </div>
                        <div class="col-12 col-md-3 mb-3">
                            <label for="officialAccountId" style="font-weight: bold" th:text="#{officialAccount}"></label>
                            <select id="officialAccountId" name="officialAccountId" class="form-control">
                                <option th:value="${officialAccountId}" th:text="${name}"></option>
                            </select>
                        </div>
                        <div class="col-12 col-md-3 mb-3">
                            <label for="inputType" style=" font-weight: bold" th:text="#{inputType}"></label>
                            <select class="form-control" type="text" id="inputType" name="inputType">
                                <option value='' th:text="#{all}" th:selected="${status == ''}"></option>
                                <option value='text' th:text="#{enterPhonenumber}" th:selected="${inputType == 'text'}"></option>
                                <option value='file' th:text="#{usingFileUpload}" th:selected="${inputType == 'file'}"></option>
                                <option value='active_users' th:text="#{allActiveUsers}" th:selected="${inputType == 'active_users'}"></option>
                            </select>
                        </div>
                        <div class="col-12 col-md-3 mb-3">
                            <label for="msgType" style="font-weight: bold" th:text="#{msgType}"></label>
                            <select class="form-control" type="text" id="msgType" name="msgType">
                                <option value='' th:text="#{all}" th:selected="${status == ''}"></option>
                                <option value='text' th:text="#{text}" th:selected="${msgType == 'text'}"></option>
                                <option value='image_link' th:text="#{image_link}" th:selected="${msgType == 'image_link'}"></option>
                            </select>
                        </div>
                        <div class="col-12 col-md-3 mb-3">
                            <label for="status" style=" font-weight: bold" th:text="#{status}"></label>
                            <select class="form-control" type="text" id="status" name="status">
                                <option value='' th:text="#{all}"></option>
                                <option value='0' th:text="#{draft}" th:selected="${status == 0}"></option>
                                <option value='1' th:text="#{approved}" th:selected="${status == 1}"></option>
                            </select>
                        </div>
                        <div class="col-12 col-md-3 mb-3">
                            <label for="processStatus" style=" font-weight: bold" th:text="#{processStatus}"></label>
                            <select class="form-control" type="text" id="processStatus" name="processStatus">
                                <option value='' th:text="#{all}"></option>
                                <option value='0' th:text="#{notYetProcess}" th:selected="${processStatus == 0}"></option>
                                <option value='1' th:text="#{processing}" th:selected="${processStatus == 1}"></option>
                                <option value='2' th:text="#{done}" th:selected="${processStatus == 2}"></option>
                                <option value='-1' th:text="#{error}" th:selected="${processStatus == -1}"></option>
                            </select>
                        </div>
                        <div class="col-12 col-md-3 mb-3">
                            <label for="startAt" style="font-weight: bold" th:text="#{startAt}"></label>
                            <input type="text" id="startAt" name="startAt" th:value="${startAt} ? ${startAt} : ''"
                                   class="form-control">
                        </div>
                        <div class="col-12 col-md-3 mb-3">
                            <label for="endAt" style="font-weight: bold" th:text="#{endAt}"></label>
                            <input type="text" id="endAt" name="endAt" th:value="${endAt} ? ${endAt} : ''"
                                   class="form-control">
                        </div>
                        <input type="text" id="pageSizeInput" name="pageSize" th:value="${pageSize}?${pageSize}"
                               class="form-control" hidden>

                        <div class="col-12 text-center pt-3">
                            <button type="submit" style="cursor: pointer;" class="btn btn-success m-2">
                                <i class="fas fa-search"></i><span class="px-2" th:text="#{search}"></span>
                            </button>

                            <button id="reset" type="reset" value="Reset" style="cursor: pointer;" class="btn btn-success m-2">
                                <i class="fa fa-refresh"></i><span class="px-2" th:text="#{reset}"></span>
                            </button>

                            <a th:href="@{/sms/create}" style="cursor: pointer;" class="btn btn-success m-2">
                                <i class="fas fa-plus"></i><span class="px-2" th:text="#{create}"></span>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="card card-default">
            <div class="card-body">
                <div class="table_router">
                    <table class="table custom-table table-bordered">
                        <thead class="thead-light">
                        <tr>
                            <th class="text-center" scope="col" th:text="#{no}"></th>
                            <th class="text-center" scope="col" th:text="#{title}"></th>
                            <th class="text-center" scope="col" th:text="#{type}"></th>
                            <th class="text-center" scope="col" th:text="#{status}"></th>
                            <th class="text-center" scope="col" th:text="#{processStatus}"></th>
                            <th class="text-center" scope="col" th:text="#{startTime}"></th>
                            <th class="text-center" scope="col" th:text="#{endTime}"></th>
                            <th class="text-center" scope="col" th:text="#{action}"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="model ,item:${models}">
                            <th class="text-center" scope="row" style="font-weight: normal; color: #000000;"
                                th:text="${item.index + pageSize*currentPage - (pageSize-1)}">1
                            </th>
                            <td>
                                <a th:attr="onclick=|viewDetail('${model.id}')|" title="Detail">
                                    <span th:text="${model.title}" style="color: #00709E; cursor: pointer;"></span>
                                </a>
                            </td>
                            <td th:text="${model.cronExpression == null ? 'Onetime' : model.cronParams.toUpperCase()}"></td>
                            <td class="text-center">
                                <span th:if="${model.status == 0}" th:text="#{draft}"></span>
                                <span th:if="${model.status == 1}" th:text="#{approved}"></span>
                            </td>
                            <td class="text-center">
                                <span th:if="${model.processStatus == 0}" th:text="#{notYetProcess}"></span>
                                <span th:if="${model.processStatus == 1}" th:text="#{processing}"></span>
                                <span th:if="${model.processStatus == 2}" th:text="#{done}"></span>
                                <span th:if="${model.processStatus == -1}" th:text="#{error}"></span>
                            </td>
                            <td class="text-center" th:text="${#dates.format(model.startAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
                            <td class="text-center" th:text="${#dates.format(model.endAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
                            <td class="text-center">
                                <div>
                                    <a th:href="@{'/sms/update/' + ${model.id}}" class="btn" title="Update">
                                        <i class="far fa-edit" style="color: #00709e;"></i>
                                    </a>
                                    <a th:attr="onclick=|deleteIcon('${model.id}', '${currentPage}', '${pageSize}')|"
                                       style="cursor: pointer;" type="button" class="btn" title="Delete">
                                        <i class="fas fa-trash-alt" style="color: #ff0000;"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div th:replace="common :: table_paging2"> </div>
            </div>
        </div>
    </div>

    <!--Popup Start-->
    <div id="popup-delete" class="modal fade">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="text-center">
                    <p th:text="#{popup.delete}"></p>
                    <button class="btn btn-primary m-2" id="confirmDel" th:text="#{apply}">Apply</button>
                    <button class="btn btn-primary m-2" id="closeDel" th:text="#{close}">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="view-modal-xl" class="modal fade" th:fragment="view_detail">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" th:if="${model != null}">
                <div class="text-center p-3" id="outPopup">
                    <h3 style="color: #00709E;" th:text="#{title.view-detail}"></h3>
                    <div>
                        <table class="table table-striped table-bordered detail-view">
                            <tbody id="detail_author">
                            <tr>
                                <th style="text-align: left;" th:text="#{id}"></th>
                                <td style="text-align: left;" th:text="${model.id}"></td>
                            </tr>
                            <tr>
                                <th style="text-align: left;" th:text="#{title}"></th>
                                <td style="text-align: left;" th:text="${model.title}"></td>
                            </tr>
                            <tr>
                                <th style="text-align: left;" th:text="#{type}"></th>
                                <td style="text-align: left;" th:text="${model.cronExpression == null ? 'Onetime' : model.cronParams.toUpperCase()}"></td>
                            </tr>
                            <tr>
                                <th style="text-align: left;" th:text="#{status}"></th>
                                <td style="text-align: left;">
                                    <span th:if="${model.status == 0}" th:text="#{draft}"></span>
                                    <span th:if="${model.status == 1}" th:text="#{approved}"></span>
                                </td>
                            </tr>
                            <tr>
                                <th style="text-align: left;" th:text="#{processStatus}"></th>
                                <td style="text-align: left;">
                                    <span th:if="${model.processStatus == 0}" th:text="#{notYetProcess}"></span>
                                    <span th:if="${model.processStatus == 1}" th:text="#{processing}"></span>
                                    <span th:if="${model.processStatus == 2}" th:text="#{done}"></span>
                                    <span th:if="${model.processStatus == -1}" th:text="#{error}"></span>
                                </td>
                            </tr>
                            <tr>
                                <th style="text-align: left;" th:text="#{phoneNo}"></th>
                                <td style="text-align: left;">
                                    <a th:href="${@environment.getProperty('server.servlet.context-path') + model.filePath}">
                                        <span th:text="#{dowload}" style="color: #00709E; cursor: pointer;"></span>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <th style="text-align: left;" th:text="#{msgContent}"></th>
                                <td style="text-align: left;" th:text="${model.msgContent}"></td>
                            </tr>
                            <tr>
                                <th style="text-align: left;" th:text="#{startTime}"></th>
                                <td style="text-align: left;" th:text="${#dates.format(model.startAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
                            </tr>
                            <tr>
                                <th style="text-align: left;" th:text="#{endTime}"></th>
                                <td style="text-align: left;" th:text="${#dates.format(model.endAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
                            </tr>
                            <tr>
                                <th style="text-align: left;" th:text="#{approvedAt}"></th>
                                <td style="text-align: left;" th:text="${#dates.format(model.approvedAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
                            </tr>
                            <tr>
                                <th style="text-align: left;" th:text="#{approvedBy}"></th>
                                <td style="text-align: left;" th:text="${model.approvedBy}"></td>
                            </tr>
                            <tr>
                                <th style="text-align: left;" th:text="#{createdAt}"></th>
                                <td style="text-align: left;" th:text="${#dates.format(model.createdDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                            </tr>
                            <tr>
                                <th style="text-align: left;" th:text="#{updatedAt}"></th>
                                <td style="text-align: left;" th:text="${#dates.format(model.modifiedDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                            </tr>
                            <tr>
                                <th style="text-align: left;" th:text="#{createdBy}"></th>
                                <td style="text-align: left;" th:text="${model.approvedBy}"></td>
                            </tr>
                            <tr>
                                <th style="text-align: left;" th:text="#{updatedBy}"></th>
                                <td style="text-align: left;" th:text="${model.approvedBy}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- REQUIRED SCRIPTS -->
<script layout:fragment="content_page_script" >
    //pagination
    function linkpage(page){
        console.log(page);
        var urlPage = window.location.href;
        var utlBase = '';
        var urlParram = '';
        let start = 0;
        for(let i = 0; i < urlPage.length-1; i++){
            if(urlPage.charAt(i) =='?'){
                start = i;
                break;
            }
        }
        if(start > 0){
            utlBase = urlPage.substring(0,start);
            urlParram = urlPage.substring(start,urlPage.length);
        }else {
            utlBase = urlPage;
        }
        console.log(page);
        start = 0;
        for(let i = urlPage.length-1; i > 0; i--){
            if(urlPage.charAt(i) =='/'){
                start = i;
                break;
            }
        }
        if(isNaN(utlBase.substring(start+1,utlBase.length))){
            utlBase += '/'+ page;
        }
        else{
            utlBase = utlBase.substring(0, start + 1)+ page;
        }
        var pageSize = document.getElementById('pageSizeInput').value;
        var urlSearchParams = new URLSearchParams(urlPage);
        // Thay đổi giá trị của tham số pageSize
        urlSearchParams.set('pageSize', pageSize);
        urlSearchParams.set('titleSMS', `[[${titleSMS}]]`);
        urlSearchParams.set('officialAccountId', `[[${officialAccountId}]]`);
        urlSearchParams.set('inputType', `[[${inputType}]]`);
        urlSearchParams.set('msgType', `[[${msgType}]]`);
        urlSearchParams.set('status', `[[${status}]]`);
        urlSearchParams.set('processStatus', `[[${processStatus}]]`);
        urlSearchParams.set('startAt', `[[${startAt}]]`);
        urlSearchParams.set('endAt', `[[${endAt}]]`);
        var dem = 0;
        urlParram = '';
        urlSearchParams.forEach(function(value, key) {
            if(dem==1){
                urlParram += '?'+key+'='+value;
            }
            else if(dem>1){
                urlParram += '&'+key+'='+value;
            }
            dem++;
        });
        console.log(urlParram);
        var newUrl = utlBase + urlParram;
        window.location.href = newUrl;
    }

    function deleteIcon(id, page, pageSize) {
        if(page == null || page == "" || page == "null")
            page = 1;
        if(pageSize == null || pageSize == "" || pageSize == "null")
            pageSize = 10;

        $("#popup-delete").modal('show');

        $("#confirmDel").click(function() {
            $("#popup-delete").modal('hide');
            window.location.href = `[[${@environment.getProperty('server.servlet.context-path')}]]/sms/delete/${page}?id=${id}&pageSize=${pageSize}`;
        });

        $("#closeDel").click(function() {
            $("#popup-delete").modal('hide');
        });
    }

    //reset value search
    var reset = document.querySelector('#reset')
    reset.onclick = function(e){
        e.preventDefault();
        $('#titleSMS').val('');
        $('#officialAccountId').val(null).trigger('change');
        $('#inputType').val('');
        $('#msgType').val('');
        $('#status').val('');
        $('#processStatus').val('');
        $('#startAt').val('');
        $('#endAt').val('');
    }

    //View detail
    function viewDetail(id){
        console.log("Open Popup Detail: " + id);
        $.get("[[@{/sms/view/}]]" + id,
            function(data, status) {
                console.log(data);
                $("#view-modal-xl").replaceWith(data);
                $("#view-modal-xl").modal('show');
            }
        );
    }

    $(document).ready(function() {
      $('#officialAccountId').select2({
        ajax: {
            type: 'GET',
            url: '[[${@environment.getProperty('server.servlet.context-path')}]]/user/customer-info/official-account/ajax-search',
            dataType: 'json',
            delay: 250,
            data: function(params) {
                return {
                    input_: params.term
                };
            },
            processResults: function(data) {
                return {
                    results: data
                };
            },
            cache: true
        },
        placeholder: `[[#{select2.officialAccountId}]]`,
        minimumInputLength: 0,
        allowClear: true
    });
    var defaultDate = moment().subtract(6, 'days');
      var currentDate = moment();
      $('#startAt').on('focus', function() {
          $(this).daterangepicker({
              "locale": {
                  "format": "YYYY-MM-DD"
              },
              "startDate": defaultDate,
              "endDate": currentDate
          });
      });

      $('#endAt').on('focus', function() {
          $(this).daterangepicker({
              "locale": {
                  "format": "YYYY-MM-DD"
              },
              "startDate": defaultDate,
              "endDate": currentDate
          });
      });
});
</script>
</body>
</html>