<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{kakoak_layout.html}"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <!-- header from the content page-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.js"></script>
</head>
<body id="page-top">
<div class="router_inner" layout:fragment="page_content">
    <div class="container-fluid">
        <div class="card card-default">
            <div class="card-body">
                <form th:action="@{/book/save}" method="post" th:object="${model}" enctype="multipart/form-data">
                    <input type="hidden" id="id" name="id" th:value="${model.id}?${model.id}">
                    <input type="hidden" id="userId" name="userId" th:value="${model.userId}?${model.userId}">
                    <div class="row">
                        <div class="col-6">
                            <label for="book_name" style="font-weight: bold"><span>[[#{Book_Name}]]</span><span style="color:red"> *</span></label>
                            <input type="text"  id="book_name" th:field="*{book_name}" name="book_name" value="${book_name}"
                                   class="form-control" required>
                        </div>
                        <div class="col-6">
                            <label for="price" style="font-weight: bold"><span>[[#{price}]]</span><span style="color:red"> *</span></label>
                            <input type="text"  id="price" th:field="*{price}" name="price" value="${price}"
                                   class="form-control" required>
                        </div>
                    </div>
                    <div class="col d-flex align-items-end justify-content-center pt-3" style="padding-left: 0 !important;">
                        <a id="backSchedule" type="button" class="btn btn-success me-md-2 m-2" th:href="@{'/book/index?userId=' + ${model.userId}}" th:text="#{back}" style="height: 30px; width: 125px; left: 886px; top: 389px; border-radius: 3px;"></a>
                        <button id="saveButton" type="submit" class="btn btn-success me-md-2 m-2" th:text="#{save}" style="height: 30px; width: 125px; left: 886px; top: 389px; border-radius: 3px;"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- REQUIRED SCRIPTS -->
<script layout:fragment="content_page_script">
    function handleFileSelection(idElement, idDisplay) {
        let inputElement = document.getElementById(idElement);
        // Kiểm tra nếu người dùng đã chọn file
        if (inputElement.files.length > 0) {
            // Người dùng đã chọn file, thực hiện các hành động cần thiết ở đây
            var fileName2 = inputElement.files[0].name;
            document.getElementById(idDisplay).innerText = `${fileName2}`;
        } else {
            // Người dùng đã nhấn Cancel
            console.log('Người dùng đã nhấn Cancel');
            document.getElementById(idDisplay).innerText = "Choose file";
        }
    }
</script>
</body>
</html>