<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{kakoak_layout.html}">

<head>
    <!-- header from the content page-->
    <link th:href="@{/webjars/AdminLTE/3.2.0/plugins/daterangepicker/daterangepicker.css}" rel="stylesheet">
    <script th:src="@{/webjars/AdminLTE/3.2.0/plugins/daterangepicker/daterangepicker.js}"></script>
</head>

<body id="page-top">
<div class="router_inner" layout:fragment="page_content">
    <div class="container-fluid">
        <div class="card card-default">
            <div class="card-body">
                <div class="row">
                    <div class="col-4 text-right">
                        <div class="dropdown" th:if="${sticker.iconUrl != null && sticker.iconUrl != ''}">
                            <img class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                 style="height: 35px" th:src="${sticker.iconUrl}">
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <img style="height: 200px" th:src="${sticker.iconUrl}">
                            </div>
                        </div>
                    </div>
                    <div class="col-4 text-center">
                        <span th:text="${sticker.name}"></span>
                    </div>
                    <div class="col-4">
                        <div class="dropdown" th:if="${sticker.previewUrl != null && sticker.previewUrl != ''}">
                            <img class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                 style="height: 35px" th:src="${sticker.previewUrl}">
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <img style="height: 200px" th:src="${sticker.previewUrl}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <a th:href="@{'/sticker-item/create?stickerId=' + ${sticker.id}}" style="cursor: pointer;" class="btn btn-success m-2">
                        <i class="fas fa-plus"></i><span class="px-2" th:text="#{create}"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="card card-default">
            <div class="card-body">
                <div class="table_router">
                    <table class="table custom-table table-bordered">
                        <thead class="thead-light">
                        <tr>
                            <th class="text-center" scope="col" th:text="#{Iorder}"></th>
                            <th class="text-center" scope="col" th:text="#{ImageUrl}"></th>
                            <th class="text-center" scope="col" th:text="#{VoiceUrl}"></th>
                            <th class="text-center" scope="col" th:text="#{State}"></th>
                            <th class="text-center" scope="col" th:text="#{createdDate}"></th>
                            <th class="text-center" scope="col" th:text="#{modified}"></th>
                            <th class="text-center" scope="col" th:text="#{action}"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="model ,item:${models}">
                            <td th:text="${model.iorder}"></td>
                            <td>
                                <div class="dropdown" th:if="${model.imageUrl != null && model.imageUrl != ''}">
                                    <img class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                         style="height: 35px" th:src="${model.imageUrl}">
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                        <img style="height: 200px" th:src="${model.imageUrl}">
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">

                            </td>
                            <td class="text-center">
                                <span th:if="${model.active == -1}">Deleted</span>
                                <span th:if="${model.active == 1}" th:text="#{active}"></span>
                                <span th:if="${model.active == 0}">Inactive</span>
                            </td>
                            <td class="text-center" th:text="${#dates.format(model.createdDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                            <td class="text-center" th:text="${#dates.format(model.modifiedDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                            <td class="text-center">
                                <div>
                                    <a th:href="@{'/sticker-item/update/' + ${model.id}}" class="btn" title="Update">
                                        <i class="far fa-edit" style="color: #00709e;"></i>
                                    </a>
                                    <a th:attr="onclick=|deleteIcon('${model.id}', '${currentPage}', '${pageSize}')|"
                                       style="cursor: pointer;" type="button" class="btn" title="Delete">
                                        <i class="fas fa-trash-alt" style="color: #ff0000;"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div th:replace="common :: table_paging2"> </div>
            </div>
        </div>
    </div>

    <!--Popup Start-->
    <div id="popup-delete" class="modal fade">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="text-center">
                    <p th:text="#{popup.delete}"></p>
                    <button class="btn btn-primary m-2" id="confirmDel" th:text="#{apply}">Apply</button>
                    <button class="btn btn-primary m-2" id="closeDel" th:text="#{close}">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- REQUIRED SCRIPTS -->
<script layout:fragment="content_page_script" >
    function linkpage(page){
        console.log(page);
        var urlPage = window.location.href;
        var utlBase = '';
        var urlParram = '';
        let start = 0;
        for(let i = 0; i < urlPage.length-1; i++){
            if(urlPage.charAt(i) =='?'){
                start = i;
                break;
            }
        }
        if(start > 0){
            utlBase = urlPage.substring(0,start);
            urlParram = urlPage.substring(start,urlPage.length);
        }else {
            utlBase = urlPage;
        }
        console.log(page);
        start = 0;
        for(let i = urlPage.length-1; i > 0; i--){
            if(urlPage.charAt(i) =='/'){
                start = i;
                break;
            }
        }
        if(isNaN(utlBase.substring(start+1,utlBase.length))){
            utlBase += '/'+ page;
        }
        else{
            utlBase = utlBase.substring(0, start + 1)+ page;
        }
        var pageSize = document.getElementById('pageSizeInput').value;
        var urlSearchParams = new URLSearchParams(urlPage);
        // Thay đổi giá trị của tham số pageSize
        urlSearchParams.set('pageSize', pageSize);
        urlSearchParams.set('name', `[[${name}]]`);
        var dem = 0;
        urlParram = '';
        urlSearchParams.forEach(function(value, key) {
            if(dem==1){
                urlParram += '?'+key+'='+value;
            }
            else if(dem>1){
                urlParram += '&'+key+'='+value;
            }
            dem++;
        });
        console.log(urlParram);
        var newUrl = utlBase + urlParram;
        window.location.href = newUrl;
    }

    function deleteIcon(id, page, pageSize) {
        if(page == null || page == "" || page == "null")
            page = 1;
        if(pageSize == null || pageSize == "" || pageSize == "null")
            pageSize = 10;

        $("#popup-delete").modal('show');

        $("#confirmDel").click(function() {
            $("#popup-delete").modal('hide');
            window.location.href = `[[${@environment.getProperty('server.servlet.context-path')}]]/sticker-item/delete/${page}?id=${id}&pageSize=${pageSize}`;
        });

        $("#closeDel").click(function() {
            $("#popup-delete").modal('hide');
        });
    }
</script>
</body>
</html>